use rscx::{component, html, props};

#[props]
pub struct {{pascalCase component_name}}Props {
    #[builder(default)]
    children: String,
    
    #[builder(setter(into))]
    name: String,
}

#[component]
pub fn {{pascalCase component_name}}(props: {{pascalCase component_name}}Props) -> String {
    html! {
        <div>
            <h1>Hello {props.name}</h1>
            <div>{props.children}</div>
        </div>
    }
}
